@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");

:root {
  --main-font-family: "Roboto", sans-serif;
  --primary-color: #212121;
  --secondary-color: #757575;
  --dark-background-color: #2f303a;
  --grey-backgroud-color: #f5f4fa;
}

body {
  color: var(--primary-color);
  font-family: var(--main-font-family);
}

  
.logo-first {
  color: #2196f3;

}
.link {
  text-decoration: none;
  color: inherit;
  
}
.header-logo {
    color: #000000;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19; 
    letter-spacing: 0.03em;
  }
 .navi {
  list-style: none;
 } 
.navi-part {
 list-style: none;
 font-size: 14px;
  font-weight: 500;
}
 .navi-part:hover,
 .navi-part:focus,
 .navi-part:active {
 color: #2196f3
}

.navi-contact {
  color: var(--secondary-color);
}
.navi-contact-part {
  list-style: none;
  font-size: 14px;
  font-weight: 500;
}
.navi-contact-part:focus,
.navi-contact-part:hover,
.navi-contact-part:active {
  color: #2196f3;
}
.section-main {
  background-color: #2F303A;

}
.section-main-text{
  font-size: 44px;
  line-height: 1.36; 
  text-align: center;
  letter-spacing: 0.06em;
  font-weight: 900;
  color: #ffffff;
}
.section-main-button {
  background: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875; 
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
}
.topic{
  list-style: none;}

.topic-name {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.topic-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
.service-headline{
  font-weight: 700;
  font-size: 36px;
  text-align: center;
}
.gallery {
  list-style: none;
}
.team{
  list-style: none;
  background-color:#F5F4FA ;
}
.our-team-headtext{
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  line-height: 42px;
  letter-spacing: 0.03em;
}
.container{
  list-style: none;
}
.team-container{
  list-style: none;
}
.container-name{
  font-weight: 500;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.03em;
  text-align: center;
}
.container-text{
  color: var(--secondary-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  text-align: center;
}

.footer{
  background-color: #2F303A;
}
.footer-logo{
   color: #F5F4FA;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19; 
    letter-spacing: 0.03em;
    
}
.logo-first {
  color: #2196f3;
}
.footer-contact{
  list-style: none;
}
.address{
  color: #ffffff;
  font-style: normal;

}
.footer-contact-part{
  color: #FFFFFF99;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;

}

/*  Portfolio style   */

.list{
  list-style: none;
}

.list-images{
  list-style: none;
}

.list-button {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625; 
  text-align: center;
  letter-spacing: 0.03em;
}

.list-button:active,
.list-button:hover,
.list-button:focus {
  color: #ffffff;
  background-color: #2196f3;
}


.list-images-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2; 
  letter-spacing: 0.06em;
}

.list-images-text {
  color: var(--secondary-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875; 
  letter-spacing: 0.03em;
}